*{ 
    padding: 0px;
    margin: 0px;
}
/* 将需要运用pointer的标签添加到此处，也可定义变量，给需要的标签使用 */
button,a,.headImg,.el-switch__label, .el-switch__core, .pointer{
    cursor: url(../imgs/cursor_pointer.png), pointer !important;
}
a{
    text-decoration: none;
}
span{
    /* cursor: text; */
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: url(../imgs/cursor.png), default;
}
